.NavList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: rgb(67, 0, 112);
    margin: 0;
    padding: 15px 0;
    list-style: none;
    text-decoration: none;
}

.NavList li {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 20px;
}

.NavList > li > a {
    color: aliceblue;
}